---
layout: splash
permalink: /house/
breadcrumbs: false
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/img/feature.jpg
  cta_label: '<i class="fas fa-book"></i> Start Reading'
  caption:
excerpt: "The Medley is an online literary journal, published by Ostraca, the Creative Writing Society of Hansraj College.<br> It is focused on building a creative space for new and emerging writers, both nationally and internationally.<br>"

feature_row:
  - image_path: /assets/img/fiction1.jpg
    alt: "fiction"
    title: "Fiction"
    excerpt: "read more for fiction"
    url: "/issue1/fiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Fiction"    
  - image_path: /assets/img/nonfiction2.jpg
    alt: "Non Fiction"
    title: "Non Fiction"
    excerpt: "read more for non fiction"
    url: "/issue1/non-fiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Non Fiction"    
  - image_path: /assets/img/poetry3.jpg
    alt: "Poetry"
    title: "Poetry"
    excerpt: "read more for poetry"
    url: "/issue1/poetry/"
    btn_class: "btn--primary"
    btn_label: "Explore Poetry"
intro:
  - excerpt: 'The first edition of our journal is out now. Keep reading to explore more.'
  
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}