---
layout: splash
permalink: /
breadcrumbs: false
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/img/feature.jpg
  cta_label: '<i class="fas fa-book"></i> Start Reading'
  cta_url: /issues/
  caption: "&copy; Anabil Mahanta"
excerpt: "The Medley is an online literary journal, published by Ostraca, the Creative Writing Society of Hansraj College.<br> It is focused on building a creative space for new and emerging writers, both nationally and internationally.<br>"

feature_row:
  - image_path: /assets/img/fiction1.jpg
    alt: "fiction"
    url: "/issue1/fiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Fiction"
    image_caption: "&copy; Sanghmitra Jethwani"
  - image_path: /assets/img/nonfiction2.jpg
    alt: "Non Fiction"
    url: "/issue1/nonfiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Non Fiction"
    image_caption: "&copy; Anabil Mahanta" 
  - image_path: /assets/img/poetry3.jpg
    alt: "Poetry"
    url: "/issue1/poetry/"
    btn_class: "btn--primary"
    btn_label: "Explore Poetry"
    image_caption: "&copy; Sanghmitra Jethwani"
intro:
  - excerpt: 'The first issue of our journal is out now. Keep reading to explore more.'
  
---
<style>
    .page__hero--overlay {
    padding: 12em 0 4em 0;
    }
    .archive__item-body p{
    text-align: center;
    padding-top: 1em;
}
</style>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}