---
layout: splash
permalink: /
breadcrumbs: false
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/img/feature4.jpg
  cta_label: '<i class="fas fa-book"></i> Read our latest issue'
  cta_url: /issue3/issue-three-toc/
  caption: "&copy; Samiksha Jain"
excerpt: "The Medley is an online literary journal, published by Ostraca, the Creative Writing Society of Hansraj College.<br> It is focused on building a creative space for new and emerging writers, both nationally and internationally.<br>"

feature_row:
  - image_path: /assets/img/fiction2.jpg
    alt: "fiction"
    url: "/fiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Fiction"
    image_caption: "&copy; Samiksha Jain"
  - image_path: /assets/img/nonfiction3.jpg
    alt: "Non Fiction"
    url: "/nonfiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Non-Fiction"
    image_caption: "&copy; Samiksha Jain" 
  - image_path: /assets/img/poetry4.jpg
    alt: "Poetry"
    url: "/poetry/"
    btn_class: "btn--primary"
    btn_label: "Explore Poetry"
    image_caption: "&copy; Samiksha Jain"
intro:
  - excerpt: '<h3>What will you write,</h3><br>
  <br>
  when your hands droop<br>
  impotent <br>
  and your thoughts are paralyzed.<br>
  <br>
  What will glimmer in this gleaming oblivion?<br>
  <br>
  Compose yourself first.<br>
  <br>
  Pick up your pen and<br>
  touch the cold paper again,<br> 
  with your wrinkled fingertips —<br>
  <br>
  For how long will you<br>
  revel in and rebel against <br>
  virtual delights?<br>
  <br>
  One of these days,<br>
  you must sully your hands.<br>
  <br>
  '
  
---
<style>
    .page__hero--overlay {
    padding: 12em 0 4em 0;
    }
    .archive__item-body p{
    text-align: center;
    padding-top: 1em;
    }
    .archive__item-caption{
        font-size: .425em;
    }

   
    a.btn.btn--light-outline.btn--large {
    background-color: red;
    }
</style>
{% include feature_row id="intro" type="left" %}

Utkarsh writes, but doesn't share often - it’s his self-conscious self that he’s collaborating with and fighting against at all times. Hindu College is his abode for a few more months so don’t hesitate to sit down for a writing session with him if you’re passing by!
<img src="/assets/img/utkarshpoem.jpg">

{% include feature_row %}
