---
layout: splash
permalink: /
breadcrumbs: false
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/img/feature3.jpg
  cta_label: '<i class="fas fa-book"></i> Read our latest issue'
  cta_url: /issue3/issue-three-toc/
  caption: "&copy; Sarthak Kwatra"
excerpt: "The Medley is an online literary journal, published by Ostraca, the Creative Writing Society of Hansraj College.<br> It is focused on building a creative space for new and emerging writers, both nationally and internationally.<br>"

feature_row:
  - image_path: /assets/img/fiction2.jpg
    alt: "fiction"
    url: "/fiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Fiction"
    image_caption: "&copy; Samiksha Jain"
  - image_path: /assets/img/nonfiction3.jpg
    alt: "Non Fiction"
    url: "/nonfiction/"
    btn_class: "btn--primary"
    btn_label: "Explore Non Fiction"
    image_caption: "&copy; Samiksha Jain" 
  - image_path: /assets/img/poetry4.jpg
    alt: "Poetry"
    url: "/poetry/"
    btn_class: "btn--primary"
    btn_label: "Explore Poetry"
    image_caption: "&copy; Samiksha Jain"
intro:
  - excerpt: 'The Third Issue is out now. Keep reading to explore more.<br><br><br><br><br> Submissions for The Medley are currently closed.'
  
---
<style>
    .page__hero--overlay {
    padding: 12em 0 4em 0;
    }
    .archive__item-body p{
    text-align: center;
    padding-top: 1em;
    }
    .archive__item-caption{
        font-size: .425em;
    }

   
    a.btn.btn--light-outline.btn--large {
    background-color: red;
    }
</style>
{% include feature_row id="intro" type="center" %}

{% include feature_row %}
