$paragraph-indent: true;



/*custom fonts*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Quattrocento:400,700&subset=latin-ext');

$josefin: 'Josefin Sans', sans-serif;
$quatrocent: 'Quattrocento', serif;


$serif: $quatrocent;
$sans-serif: $josefin;

$global-font-family: $sans-serif;
$header-font-family: $serif;
$caption-font-family: $sans-serif;